.header {
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo {
  margin-right: 32px;
}

.logo-text {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
}

.spacer {
  flex: 1 1 auto;
}

.navbar-links {
  display: flex;
  align-items: center;

  a {
    margin-right: 8px;

    &.active {
      background-color: rgba(255, 255, 255, 0.12);
    }
  }

  @media (max-width: 768px) {
    display: none;
  }
}

.auth-buttons {
  display: flex;
  align-items: center;
  gap: 8px;
}
